streamlit ==1.28.0
requests ==2.32.4
python-dotenv ==1.0.1
uvicorn ==0.35.0
fastapi ==0.115.14
pydantic ==2.11.7
fpdf ==1.7.2
python-docx ==1.2.0
langchain ==0.1.14
langchain-google-genai ==1.0.4
google-generativeai ==0.5.4